/* FileLoader.css */

.file-loader  {
  display: block;  
  /* margin: 10px; */
  padding: 10px;
  border: 1px solid black;
}
 input{
    margin-left: 20px;
    margin-bottom: 1rem;
    
    width: 100%;
}

.file-loader label{
    font: bolder;
    font-size: large;
}